#answerButton, #clearButton {
    display: none;
}

body {
    margin: 0;
    padding: 0;
}
.container {
    display: table;
    position: absolute;
    height: 50%;
    width: 100%;
    text-align: center;
    overflow: auto;
    background-color: rgb(77, 90, 209);
    color: white;
    justify-content: center;
  }

#middle {
    display: table-cell;
    vertical-align: middle;
}

#bodyWindow {
	margin: auto;
	text-align: center;
	align-content: center;

	background-color: #f9f9f9;
	max-width: 750px;
	width: 90%;
	padding-left: 16px;
	padding-right: 16px;
}