#answerButton, #clearButton {
    display: none;
}

h2 {
    font-size: 500%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgb(77, 90, 209);
    color: white;
  
}

.contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
}